/* .about-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
} */
.about-img{
    background: url(../../Images/after.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
.about{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}
.about-img h1{
    background-color: black;
    color: white;
    align-items: center;
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: justify;
    gap: 20px;
}
.container p{
    font-size: large;
}
.links{
    border: 2px solid gray;
    width: 100%;
    padding: 30px;
}
.related-link{
    display: flex;
    flex-direction: column;
}
.related-link a{
    padding: 10px 4px;
    border-bottom: 2px solid gray;
}
.related-link a:hover{
    background-color: grey;
}
.related-link a:active{
    background-color: rgb(173, 167, 167);
    width: 100%;
}
.btn{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}
.btn button{
    padding: 15px 9rem;
    background-color: red;
    border: none;
}
.btn button:hover{
    background-color: #CC2027;
}
.btn button a{
    color: white;
}
