.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.top{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background-color: #4e0a0c;
    gap: 50px;
}
.top a{
    display: flex;
    color: white;
    font-weight: 600;
}
.nav-tab{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #CC2026;
    padding: 10px 0;
}
.nav-tab img{
    width: 120px;
    height: 60px;
}
.tabs{
    display: flex;
    gap: 6rem;
}
.tabs a{
    color: white;
    font-size: x-large;
    font-weight: 600;
}
.nav-tab-bellow{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    background-color: white;

}
.nav-tab-bellow a{
    font-weight: 700;
    color: #4e0a0c;
    display: flex;
    font-size: larger;

}
