
.page1{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page1 video{
    width: 100%;
    background-position: center;
}
.page-cont{
    position: absolute;
    top: 30%;
    left: 20%;
}
.page-cont h2{
    font-weight: 600;
    font-size: 50px;
    width: 45%;
    color: black;
    margin-bottom: 10px;
    font-size: 75px;
}
.page-cont button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: #fff;
    font-size: larger;
}
/*==================== STAFF AREA ===================*/
.staffs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 40px; */
    gap: 20px;
}
.staffs p{
    font-size: 29px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.staff-img{
    display: flex;
    gap: 20px;
}
.staff1{
   border: 4px solid red;
   border-radius: 50%;  
   position: relative;
   width: 300px;
   height: 300px;
   overflow: hidden;

}
.staff1 img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 50%;
    z-index: 80;
}
.staff1 img:hover{
    transform: scale(1.4);
}

/*================= CURIOUS ABOUT ALBUQUERQUE ACADEMY=======================*/
.curious{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}
.curious-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youtube{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 9rem;
}
.youtube-details{
    display: flex;
    gap: 30px;
}
.youtube-details p{
    width: 58%;
    font-size: larger;
    margin-top: 30px;
}
.youtube-details2{
    display: flex;
}
.details2-cont{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details2-cont p{
    width: 100%;
    font-size: larger;
}
.curious button{
    padding: 15px 35px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.curious button:hover{
    background-color: rgb(95, 6, 6);
}
/*================== ACADEMIC EXPERIENCE, TRADITIONAL EXCELLENCE ==================*/
.experience{
    display: flex;
    flex-direction: column;
}
.experience1{
    display: flex;
    width: 100%;
}
.img1{
    background: url(../../Images/excellence.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 60px;
}
.img2{
    background: url(../../Images/traditional.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 60px;

}