
.page1{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.page1 video{
    width: 100%;
    background-position: center;
}
.page-cont{
    position: absolute;
    top: 30%;
    left: 20%;
}
.page-cont h2{
    font-weight: 600;
    font-size: 50px;
    width: 45%;
    color: black;
    margin-bottom: 10px;
    font-size: 75px;
}
.page-cont button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: #fff;
    font-size: larger;
}
/*==================== STAFF AREA ===================*/
.staffs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.staffs p{
    font-size: 29px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.staff-img{
    display: flex;
    gap: 20px;
}
.staff1{
   border: 4px solid red;
   border-radius: 50%;  
   position: relative;
   width: 300px;
   height: 300px;
   overflow: hidden;

}
.staff1 img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 50%;
    z-index: 80;
}
.staff1 img:hover{
    transform: scale(1.4);
}

/*================= CURIOUS ABOUT ALBUQUERQUE ACADEMY=======================*/
.curious{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: 40px;

}
.curious-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youtube{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 9rem;
}
.youtube-details{
    display: flex;
    gap: 30px;
}
.youtube-details p{
    width: 58%;
    font-size: larger;
    margin-top: 30px;
}
.youtube-details2{
    display: flex;
}
.details2-cont{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details2-cont p{
    width: 90%;
    font-size: larger;
}
.curious button{
    padding: 15px 35px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.curious button:hover{
    background-color: rgb(95, 6, 6);
}
/*================== ACADEMIC EXPERIENCE, TRADITIONAL EXCELLENCE ==================*/
.experience{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.experience1{
    display: flex;
    width: 100%;
}
.img1{
    background: url(../../Images/excellence.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0 5rem;
    gap: 15px;
}
.img1 h1, .img2 h1, .img3 h1, .img4 h1, .img5 h1{
    color: white;
}
.img1 p{
    width: 90%;
    font-size: x-large;
    color: white;
}
.img2 p{
    width: 100%;
    font-size: x-large;
    color: white;
}
.img3 p, .img4 p, .img5 p{
    width: 100%;
    color: white;
    font-size: x-large;
}
.experience1 button{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 7rem;
}
.experience1 button:hover{
    background-color: #fff;
}
.img2{
    background: url(../../Images/traditional.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0 5rem;
    gap: 15px;
}
.img3{
    background: url(../../Images/globe.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0 5rem;
    gap: 15px;
}
.img4{
    background: url(../../Images/Alumni.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0 5rem;
    gap: 15px;
}
.img5{
    background: url(../../Images/after.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0 5rem;
    gap: 15px;
}
/*=============== LATEST NEWS ==========================*/
.latest-news{
    background-color: #D8D8D8;
    width: 100%;
    padding: 25px 0;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.news-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.news-image{
    width: 600px;
    height: 300px;
    border: 1px solid black;

    position: relative;
    overflow: hidden;
}
.news-image img{
    width: 600px;
    height: 300px;
}
.news-image img:hover{
    transform: scale(1.1);
    transition: .7s ease-in;
}

/*==================ACADEMY PROGRESS====================*/
.academy-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    
}